.whiteCell, .whitePiece {
  background-color: bisque;
}

.blackCell, .blackPiece {
  background-color: rgba(0, 0, 0, 0.664);
}

.whiteCell, .blackCell, .whitePiece, .blackPiece {
  list-style: none;
}

.senetBoard {
  display: grid;
  grid-template-columns: repeat(10, 4em);
  grid-template-rows: repeat(3, 4em);
}

.whiteDie, .blackDie {
  list-style: none;
  margin: 0.1em;
}

.whiteDie {
  background-color: bisque;
}

.blackDie {
  background-color:  rgba(0, 0, 0, 0.664);
}

.diceRoll {
  display: grid;
  grid-template-columns: repeat(4, 2em);
}

.whitePiece, .blackPiece {
  height: 1em;
  width: 1em;
  margin: 0.5em;
  padding: 0.25em;
}
