.whiteCell, .whitePieces {
  background-color: bisque;
  color: rgba(0, 0, 0, 0.664);
}

.blackCell, .blackPieces {
  background-color: rgba(0, 0, 0, 0.664);
  color: bisque;
}

.whiteCell, .blackCell, .whitePieces, .blackPieces {
  list-style: none;
}

.whiteCell, .blackCell {
  padding: 0.2em;
}

.senetBoard {
  display: grid;
  grid-template-columns: repeat(10, 4em);
  grid-template-rows: repeat(3, 4em);
}

.whiteDie, .blackDie {
  list-style: none;
  margin: 0.1em;
  height: 5em;
  width: 0.8em;
}

.whiteDie {
  background-color: bisque;
  color: bisque;
}

.blackDie {
  background-color:  rgba(0, 0, 0, 0.664);
  color: rgba(90, 89, 89, 0.664);
}

.diceRoll {
  display: grid;
  grid-template-columns: repeat(4, 2em);
}

.whitePieces, .blackPieces {
  height: 1em;
  width: 1em;
  margin: 0.5em;
  padding: 0.25em;
}

.whitePieces {
  border-radius: 5em;
  border: 0.1em solid rgba(0, 0, 0, 0.664);
}

.blackPieces {
  border: 0.1em solid bisque;
}